* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

    body {
  font-family: 'DreamerTM', sans-serif;
  font-size: 60px;
  background-color: #3b2a1a;
  background-image: url('End_Portal.webp'), url('dirt.png');
  background-repeat: no-repeat, repeat;
  background-position: center, 0 0;
  background-attachment: fixed, fixed;
  background-size: 530px auto, 700px 700px;
  color: #f0a8e0; 
}



header {
  padding: 2rem;
  text-align: center;
}

.AboutMe {
  font-size: 24px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.pigeon-name {
  position: absolute;
  top: 100px;
  left: 500px;
}

@font-face {
  font-family: 'DreamerTM';
  src: url('DreamerTM-Regular.woff2') format('woff2'),
       url('DreamerTM-Regular.ttf') format('truetype');
}